$primary: #212529;
$dark: #212529;
$secondary: #7A77FF;
$tertiary: #F158FF;
$clear: #fff;
$font: "Rubik", Arial, Tahoma;

* {
    margin: 0;
    padding: 0;
}

@mixin texto {
    font: 16px $font;
    color: $clear;
    text-align: justify;
}

p, h1 {
    @include texto;
}

h1 {
    font-size: 36px !important;
}

body {
    background-color: #292c30;
}

.navbar {
    top: 0;
    width: 100%;
    z-index: 1;
    background: $dark;
    .navbar-brand img {
        height: 100px;
    }
    .nav-link {
        font: 22px $font $clear;
        text-transform: uppercase;
        color: #fff;
        &:hover {
            color: $secondary;
        }
    }
    .navbar-nav .nav-link.show {
        color: $secondary;
    }
    .dropdown-menu {
        background-color: $primary;
        border-radius: 0;
        border-top: 5px solid $secondary;
        .dropdown-item {
            font: 20px $font $clear;
            text-transform: uppercase;
            color: $secondary;
        }
    }
    .btn, .btn-info {
        margin-left: 15px;
        color: $clear;
        background-color: #1F2022;
        border: 1px solid $secondary;
        &:hover {
            color: $clear;
            background-color: #1F2022;
            border: 1px solid $tertiary;
        }
    }
}

.footer {
    bottom: 0;
    width: 100%;
    background: $dark;
    color: $secondary;
    padding: 10px;
    p {
        padding-top: 15px;
        font-weight: lighter;
        text-align: center;
        color: $clear;
    }
}

.center {
    text-align: center;
}

.w-100 {
    width: 100%;
}

.container {
    display: inline-block;
}

.giro {
    transition: 0.3s ease;
    transform: rotate(90deg);
}

.navbar-toggler-icon {
    img {
    transition: 0.3s ease;
    height: 1.5em;
    width: 1.5em;
    }
}

button.navbar-toggler {
    border: 1px solid $secondary;
}

a.btn.btn-info {
    position: relative;
    margin: auto;
}

.erro404con {
    text-align: center;
    .erroimg {
        padding: 8%;
        margin: 0;
    }
}

a.dropdown-item {
    &:hover {
        background-color: #14171a;
    } &:active {
        background-color: #0d0f11;
    }
}

@media only screen and (max-width: 1000px) {
    .erroimg {
        width: 100%;
    }
    .d-block {
        height: 200px;
    }
}